.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav li a {
  color: var(--secondary-color);
}

.nav li a.active-link {
  color: var(--accent-color);
}

.wrapper button {
  border: 2px solid var(--secondary-color);
  background: transparent;
  color: var(--secondary-color);
}

.wrapper button:hover {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
