.wrapper {
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid var(--main-color);
  border-radius: 8px;
}

.left-side {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.left-side img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.general-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.general-info div {
  display: flex;
  column-gap: 10px;
}

.controls {
  display: flex;
  column-gap: 8px;
}

.green {
  color: forestgreen;
}

.red {
  color: red;
}

.delete-btn {
  border: 2px solid red;
  background: none;
  color: red;
}
