<form #walletForm="ngForm">
  <div class="formControl">
    <div class="formControlLabel">
      <label for="name">Name</label>
      <ng-container *ngIf="name.invalid && (name.dirty || name.touched)">
        <span *ngIf="name.errors?.['required']">Name is required</span>
        <span *ngIf="name.errors?.['minlength']">Name should be at least 3 chars</span>
        <span *ngIf="name.errors?.['forbiddenName']">You already have the wallet with such name</span>
      </ng-container>
    </div>
    <input
      [(ngModel)]="wallet.name"
      type="text"
      id="name"
      name="name"
      #name="ngModel"
      required
      minlength="3"
      appForbiddenName
      [appForbiddenNames]="walletNames || []" />
  </div>
  <div class="formControl">
    <div class="formControlLabel">
      <label for="currency">Currency</label>
    </div>
    <select id="currency" name="currency" ngModel [(ngModel)]="wallet.currency">
      <option value="UAH">&#8372;</option>
      <option value="USD">$</option>
      <option value="EUR">€</option>
    </select>
  </div>
  <div class="formControl">
    <div class="formControlLabel">
      <label for="initBalance">Initial Balance</label>
      <ng-container *ngIf="amount.invalid && (amount.dirty || amount.touched)">
        <span *ngIf="amount.errors?.['required']">Amount is required</span>
        <span *ngIf="amount.errors?.['min']">Should be not less than 0</span>
      </ng-container>
    </div>
    <input [(ngModel)]="wallet.amount" #amount="ngModel" type="number" id="initBalance" name="amount" [defaultValue]="0" required min="0" />
  </div>
  <div class="btns">
    <button class="cancel" (click)="onCancel(walletForm)">Cancel</button>
    <button
      type="submit"
      [disabled]="walletForm.invalid"
      (click)="editMode
        ? onEditWallet(walletForm)
        : onCreateWallet(walletForm)"
    >
      {{editMode ? "Edit" : "Create"}}
    </button>
  </div>

</form>
