<ul *ngIf="(walletsService.wallets$ | async) as wallets">
  <li *ngFor="let wallet of wallets">
    <div class="wallet-info">
      <h3>{{ wallet.name }}</h3>
      <span>Amount: {{ wallet.amount | currency:wallet.currency }}</span>
    </div>
    <div>
      <button (click)="onEdit('modal-edit-wallet', wallet)">Edit wallet</button>
      <button class="delete-btn" (click)="onDelete(wallet)">Delete wallet</button>
    </div>
  </li>
</ul>
<app-modal id="modal-edit-wallet">
  <ng-container *ngIf="editedWallet">
    <h3>Edit {{editedWallet?.name}}</h3>
    <app-create-wallet-form [editMode]="true" [wallet]="editedWallet"></app-create-wallet-form>
  </ng-container>
</app-modal>


